@use "_vars.scss";

@font-face {
  font-family: "Titillium Web";
  src: url("/fonts/TitilliumWeb-Regular.ttf");
}

div,
p,
body,
h1,
h2,
h3,
h4,
span,
h5 {
  font-family: "Titillium Web", sans-serif;
}
