@use "_vars.scss";

@font-face {
  font-family: "Titillium Web";
  src: url("/fonts/TitilliumWeb-Regular.ttf");
}

div,
p,
body,
h1,
h2,
h3,
h4,
span,
h5 {
  font-family: "Titillium Web", sans-serif;
}

p {
  padding-top: vars.$margin-standard;
  padding-bottom: vars.$margin-standard;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding-top: vars.$margin-standard;
  padding-bottom: vars.$margin-standard;
  color: vars.$color-text-highlight;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1em;
}
