@use "_vars.scss";

body {
  padding: 0px;
  padding-bottom: vars.$margin-standard;
}

.page-content {
  padding: vars.$margin-standard;
  border-bottom: 3px dashed vars.$color-primary;
}

.page-footer {
  text-align: right;
  opacity: 0.5;
  padding: vars.$margin-standard;
}
.page-footer img {
  height: 0.9em;
  margin-right: 0.3em;
}
.page-footer a {
  color: #333;
  text-decoration: none;
}

// Navigation

.navigation {
  background-color: #218c8c;
  padding: vars.$margin-standard;
}

.navigation-menu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: vars.$margin-standard;
}

// Cards

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
