---
title: Home
layout: home.njk
---

<div class="article-list">

    {%- for article in collections.guides -%}
    
        {% set cardUrl = article.url %}
        {% set cardTitle = article.data.title %}
        {% include "article-card.html" %}
    
    {% endfor %}
    
</div>
