{% set titleKey = "Home" %}
{% set hasBanner = true %}

{% extends "default.njk" %}

{% block content %}

    <div>
        <a href="/tools/">
            <button class="button">Tools</button>
        </a>
    </div>

    <div>
        <a href="/practices/">
            <button class="button">Practices</button>
        </a>
    </div>

{% endblock %}