<div class="navigation">
  <div class="navigation-brand">
    <a href="/" href>DevOps Playbook > {{ titleKey }}</a>
  </div>
  <div class="navigation-menu">
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <a href="https://github.com/devopsplaybook-io/devopsplaybook.io">Contribute</a>
    </div>
  </div>
</div>