{% set titleKey = "Blog" %}

{% extends "default.njk" %}

{% block content %}

    <ul>
    {%- for tool in collections.tool -%}
    <li><a href="{{ tool.url }}">{{ tool.data.title }}</a></li>
    {%- endfor -%}
    </ul>

{% endblock content %}
